@font-face {
  font-family: 'Larsseit';
  src: local("Larsseit Regular"), local("Larsseit-Regular"), url("../fonts/Larsseit/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit/Larsseit.woff") format("woff"), url("../fonts/Larsseit/Larsseit.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit';
  src: local("Larsseit Light"), local("Larsseit-Light"), url("../fonts/Larsseit-Light/Larsseit-Light.woff2") format("woff2"), url("../fonts/Larsseit-Light/Larsseit-Light.woff") format("woff"), url("../fonts/Larsseit-Light/Larsseit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit';
  src: local("Larsseit-Bold"), local("Larsseit Bold"), url("../fonts/Larsseit-Bold/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold/Larsseit-Bold.woff") format("woff"), url("../fonts/Larsseit-Bold/Larsseit-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

.wrapper {
  font: normal 1rem 'Larsseit';
  width: 90rem;
  margin: auto;
}

a {
  text-decoration: none;
}

button {
  width: 9.4rem;
  height: 3.125rem;
  border: none;
  color: #fff;
  font-size: 0.88rem;
  font-weight: bold;
  cursor: pointer;
}

header {
  width: 100%;
  height: 52.5rem;
  background: #F4F9E2;
}

.header-head {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logo {
  width: 26.25rem;
  font-size: 1.5rem;
  line-height: 5rem;
  font-weight: 500;
}
#logo a {
  color: #62D0DF;
}

nav {
  width: 15rem;
  height: 2.75rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .nav-item {
  text-align: center;
  line-height: 2.75rem;
}
nav .nav-item a {
  font-size: 0.88rem;
  color: #22356F;
}
nav .nav-item:hover {
  border-bottom: 1px solid #22356F;
}

#login {
  width: 29rem;
  text-align: right;
}
#login #btn-login {
  margin-top: 1rem;
  border-radius: 3.125rem;
  background-color: #62D0DF;
}
#login #btn-login:hover {
  background-color: #42baca;
}

.header-body {
  padding: 10rem 0 0 9.76rem;
  color: #22356F;
}
.header-body h1 {
  margin-bottom: 2.3rem;
  font-size: 1.5rem;
  line-height: 1.125;
  letter-spacing: -0.035em;
  color: #62D0DF;
}
.header-body h2 {
  height: 10.4rem;
  width: 30.25rem;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.035em;
}
.header-body p {
  width: 29.3rem;
  margin-bottom: 3.94rem;
  font-size: 1.5rem;
  line-height: 1.75;
}
.header-body #btn1 {
  background-color: #F9B640;
}
.header-body #btn1:hover {
  background-color: #ebab3c;
}
.header-body #btn2 {
  background-color: inherit;
  color: #FAB63E;
}
.header-body #btn2:hover {
  color: #c78c25;
}

main {
  width: 100%;
}

.sect1 {
  width: 100%;
  height: 37.94rem;
  color: #fff;
  background-color: #62D0DF;
  background-image: url(../images/main/sect1/img1.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.sect1 h1 {
  padding: 9.44rem 0 0 11.13rem;
  font-size: 2.25rem;
  line-height: 1.67rem;
  letter-spacing: -0.006em;
}
.sect1 p {
  width: 34.7rem;
  padding: 4.63rem 0 0 11.13rem;
  font-weight: 300;
  font-size: 1.26rem;
  line-height: 1.46;
}
.sect1 p span {
  font-weight: bold;
  font-size: 1.5rem;
}

.sect2 {
  width: 100%;
  padding-top: 9.3rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: #22356F;
}
.sect2 div:first-child {
  width: 26.5rem;
  line-height: 1.4;
  letter-spacing: 0.005em;
  text-align: center;
}
.sect2 div:last-child {
  width: 37rem;
  font-size: 1.5rem;
  line-height: 1.44;
  letter-spacing: 0.06em;
}

.sect3 {
  width: 100%;
  margin-bottom: 1.5rem;
}
.sect3 .white-line {
  text-align: center;
  padding: 4.75rem 0 1.5rem 0;
}
.sect3 .squares {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sect3 .squares .item {
  width: 22.5rem;
  height: 22.5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.06;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}
.sect3 .squares .item div {
  width: 15.94rem;
  height: 4.5rem;
  margin: auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 1.5rem;
}
.sect3 .squares .item img {
  margin-right: 1rem;
}
.sect3 .squares .item span {
  margin: 0 0 0 3.38rem;
}
.sect3 .squares .item:first-child {
  background: #FFE2DE;
}
.sect3 .squares .sq2 {
  background: #C4E769;
}
.sect3 .squares .sq3 {
  background: #62D0DF;
}
.sect3 .squares .item:last-child {
  background: #0052C1;
}

.sect4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sect4 .item {
  width: 30rem;
  height: 15rem;
}
.sect4 .item h1 {
  padding: 3.44rem 0 0 6.56rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.18;
  letter-spacing: -0.03em;
  color: #22356F;
}
.sect4 .item p {
  width: 18.625rem;
  padding: 1.75rem 0 0 6.56rem;
  font-size: 1rem;
  line-height: 1.56;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.sect5 {
  width: 100%;
  height: 50rem;
  background-color: #22356F;
  background-image: url(../images/main/sect5/man.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.sect5 .text {
  width: 36.1rem;
  padding: 6.44rem 0 0 11.25rem;
  color: #FFFFFF;
}
.sect5 .text #link1 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 0.75;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.sect5 .text h1 {
  padding-top: 12rem;
  font-size: 4rem;
  line-height: 1.47;
  letter-spacing: -0.01em;
}
.sect5 .text p {
  padding-top: 4.75rem;
  margin-bottom: 4rem;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: -0.005em;
}
.sect5 .text #link2 {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1em;
  color: #62D0DF;
}
.sect5 .text #link2:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
}

.sect6 {
  width: 100%;
  height: 23.75rem;
  background-image: url(../images/main/sect6/autumn-goodman-242825.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.sect6 .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 0 0 39.8rem;
}
.sect6 .info .text {
  width: 12.9rem;
}
.sect6 .info .text h1 {
  font-size: 0.88rem;
  line-height: 0.79rem;
  letter-spacing: -0.006em;
  color: #22356F;
}
.sect6 .info .text p {
  padding-top: 3rem;
  font-size: 0.88rem;
  line-height: 1.44;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
.sect6 .info .text p a {
  color: #62D0DF;
}
.sect6 .info .text p a:hover {
  color: #0052C1;
}

.sect7 {
  width: 100%;
  height: 5rem;
  background: #62D0DF;
}
.sect7 p {
  padding: 2rem 0 0 11.25rem;
  color: #fff;
}
