@media (max-width: 1025px) {
  html {
    font-size: 71.1%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 53.334%;
  }

  button {
    width: 11rem;
    font-size: 1.1rem;
  }

  header {
    height: 53.5rem;
  }

  .header-head {
    height: 6rem;
  }

  #logo {
    width: 26.25rem;
    line-height: 6rem;
    font-size: 2rem;
  }

  nav {
    width: 20rem;
    margin-top: 2rem;
  }
  nav .nav-item a {
    font-size: 1.3rem;
  }

  #login {
    width: 29rem;
    text-align: right;
  }
  #login #btn-login {
    margin-top: 2rem;
    border-radius: 3.125rem;
  }

  .header-body {
    padding: 10rem 0 0 11rem;
  }
  .header-body h1 {
    font-size: 2.2rem;
  }

  .sect1 {
    height: 45rem;
  }
  .sect1 h1 {
    padding: 9.44rem 0 0 11rem;
    font-size: 4rem;
  }
  .sect1 p {
    padding: 4.63rem 0 0 11rem;
    font-size: 1.7rem;
    line-height: 1.46;
  }
  .sect1 p span {
    font-size: 1.7rem;
  }

  .sect2 {
    padding-top: 7rem;
  }
  .sect2 div:first-child {
    font-size: 1.2rem;
    width: 26.5rem;
  }
  .sect2 div:last-child {
    width: 50rem;
    font-size: 1.7rem;
  }

  .sect4 {
    margin-bottom: 4rem;
  }
  .sect4 .item {
    width: 45rem;
    height: 17rem;
  }
  .sect4 .item h1 {
    padding: 3.44rem 0 0 15rem;
    font-size: 2rem;
  }
  .sect4 .item p {
    width: 30rem;
    padding: 1.75rem 0 0 10rem;
    font-size: 1.7rem;
  }

  .sect6 .info {
    padding: 5rem 0 0 39.8rem;
  }
  .sect6 .info .text h1 {
    font-size: 1.5rem;
  }
  .sect6 .info .text p {
    font-size: 1.3rem;
  }

  .sect7 p {
    padding: 1.7rem 0 0 11.25rem;
    font-size: 1.4rem;
  }
}
