@font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Light'), local('Larsseit-Light'),
        url('Larsseit-Light.woff2') format('woff2'),
        url('Larsseit-Light.woff') format('woff'),
        url('Larsseit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }